* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}
.hidden {
  overflow: hidden;
}
.flex {
  display: flex;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  background: #f4f7fb;
  padding: 16px;
  &__logo {
    display: none;
    &--mobile {
      display: block;
    }
  }
  &__fix {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: #f4f7fb;
    padding: 14px 0;
    .header__top-item li {
      margin-right: 20px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        min-height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #F2F2F2;
        border-top: 2px solid #F2F2F2;
        a {
          pointer-events: none;
        }
      }
    }
    &-menu {
      height: calc(100vh - 83px);
      position: fixed;
      left: -100%;
      top: 76px;
      max-width: 720px;
      width: 100%;
      background: #f4f7fb;
      transition: 0.6s all;
      z-index: 10;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #f47a0b;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
      img {
        margin: 0 auto;
        display: block;
        margin-bottom: 64px;
      }
      &.active {
        left: 0;
      }
    }
    &-link {
      font-weight: 600;
      font-size: 18px;
      line-height: 145%;
      color: #313b59;
      text-decoration: none;
      &:hover {
        color: #f47a0b;
      }
    }
    .mobile-icon {
      img {
        &:first-child {
          margin-right: 25px;
        }
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__hamburger {
    padding-top: 15px;
    margin-right: 25px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover span {
      background: #f47a0b;
    }
    span {
      display: block;
      height: 3px;
      width: 40px;
      background-color: #313b59;
      margin-bottom: 8px;
      transition: 0.5s all;
      cursor: pointer;
    }
    &--active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  &__wrapper {
    display: none;
    &-item {
      width: 100%;
    }
  }
  &__top-item {
    padding: 12px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-right: 0;
    }
    li {
      display: none;
    }
  }
  &__bottom-item {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-item > li {
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
  &__top-link {
    color: #313b59;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    &:hover {
      color: #f47a0b;
      text-decoration-line: underline;
    }
    &--visually {
      background: transparent;
      cursor: pointer;
      padding: 3px 5px;
      border: 1px solid #f47a0b;
      border-radius: 5px;
      text-decoration: none !important;
      &::before {
        content: url(/icon/glasses.svg);
        padding-right: 0;
      }
      span {
        display: none;
      }
    }
    &--phone {
      text-decoration: none;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      &::before {
        content: url(/icon/phone.svg);
        padding-right: 5px;
        padding-top: 4px;
      }
      span {
        display: none;
      }
    }
  }
  &__bottom-link {
    font-size: 14px;
    line-height: 145%;
    color: #313b59;
    position: relative;
    text-decoration: none;
    padding-bottom: 40px;
    &:hover {
      color: #f47a0b;
    }
    &::before {
      content: "";
      transform: rotate(45deg);
      position: absolute;
      width: 8px;
      height: 8px;
      background: #f47a0b;
      transition: 0.3s;
      opacity: 0;
      top: -10px;
      left: calc(50% - 4px);
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover + .header__dropdown {
      display: block;
    }
  }
  &__dropdown {
    display: none;
    position: absolute;
    top: 58px;
    min-width: 450px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1), inset 0px 2px 0px #f47a0b;
    border-radius: 2px;
    z-index: 1;
    li {
      position: relative;
      padding: 24px 123px 24px 30px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f7fb;
        height: 1px;
      }
    }
    &-item {
      font-weight: 400;
      font-size: 18px;
      color: #313b59;
      text-decoration: none;
      position: relative;
      &:hover {
        color: #f47a0b;
      }
      &::before {
        content: "";
        position: absolute;
        left: -30px;
        top: calc(50% - 20px);
        border: 20px solid transparent;
        border-left: 20px solid #f47a0b;
        display: none;
      }
      &:hover::before {
        display: block;
      }
    }
    &:hover {
      display: block;
    }
  }
}
.about {
  padding: 100px 0 50px 0;
  background: url(/img/banner.jpg) center (center / cover) no-repeat;
  &__title {
    font-size: 32px;
    line-height: 77px;
    color: #ffffff;
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      background: linear-gradient(
        90deg,
        #e27410 -3.97%,
        rgba(196, 196, 196, 0) 102.88%,
        #025ea1 102.88%
      );
      border-radius: 2px;
      bottom: -16px;
      left: 0;
    }
  }
  &__description {
    max-width: 350px;
    font-size: 18px;
    line-height: 145%;
    color: #ffffff;
    margin-bottom: 72px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    width: 100%;
    margin-bottom: 8px;
    position: relative;
    top: 0px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 16px;
    color: #2d3343;
    cursor: pointer;
    &:hover {
      background: #f47a0b;
      box-shadow: 0px 12px 30px rgba(68, 32, 0, 0.15);
      color: #ffffff;
      transform: translate3d(0px, -15px, 0px);
    }
    &:hover svg {
      stroke: #ffffff;
      fill: #ffffff;
    }
  }
  &__text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
  }
}
.services {
  padding: 50px 0 80px 0;
  &__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #313b59;
    margin-bottom: 48px;
    display: inline-block;
    position: relative;
    &:after {
      content: url(/icon/arrow.svg);
      position: absolute;
      right: -50px;
      top: -5px;
    }
    &:hover {
      color: #f47a0b;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(200px, auto);
  }
  &__card {
    position: relative;
    top: 0px;
    transition: transform 0.2s ease-in-out;
    padding: 24px;
    background: linear-gradient(
      90deg,
      #014c88 0%,
      #015da0 48.84%,
      #026ab3 103.05%
    );
    border-radius: 4px;
    &:hover {
      transform: translate3d(0px, -15px, 0px);
    }
    &::before {
      content: url(/icon/services-small.png);
      position: absolute;
      left: 0;
      bottom: -4px;
    }
    &--big {
      &::before {
        content: url(/icon/services-small.png);
      }
    }
    &.services__card--orange .services__link {
      position: absolute;
    }
    img {
      width: 60px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
  }
  &__img {
    position: absolute;
    left: 20px;
    bottom: 26px;
  }
  &__more {
    display: none;
  }
}
.step {
  position: relative;
  background: #f4f7fb;
  padding: 60px 0 0 0;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #313b59;
    text-align: center;
    margin-bottom: 64px;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
  }
  &__item {
    position: relative;
    z-index: 1;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    background: #ffffff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 56px;
    transform: rotate(45deg);
    z-index: 1;
    &--one {
      background: linear-gradient(
        90deg,
        #014c88 0%,
        #015da0 48.84%,
        #026ab3 103.05%
      );
      color: #ffffff;
      box-shadow: -10px 0px 0px 0px #93b7d3, -20px 0px 0px #d1dfec;
    }
    &--six {
      background: #e27410;
      color: #ffffff;
      box-shadow: 0px -10px 0px 0px #edc39d, 0px -20px 0px #f1e4d9;
    }
  }
  &__number {
    transform: rotate(-45deg);
  }
  &__box {
    overflow: auto;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 0 40px;
  }
  &__text {
    width: 195px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #2d3343;
    margin-top: 50px;
    position: relative;
    right: 50px;
  }
  &__hr {
    position: absolute;
    background: linear-gradient(
      90deg,
      #025392 -3.97%,
      rgba(196, 196, 196, 0) 102.88%,
      #f4f7fb 102.88%
    );
    height: 8px;
    width: calc(100% - 60px);
    bottom: calc(50% + 50px);
    z-index: 1;
  }
  &__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__img-left {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(-1);
  }
}
.team {
  padding: 70px 0;
  &__title {
    color: #313b59;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 34px;
  }
  &__container {
    max-width: 1920px;
    margin: 0 auto;
  }
  &__box {
    overflow: auto;
  }
  &__row {
    min-width: 768px;
    display: flex;
    align-items: flex-end;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    .mb-14 {
      margin-bottom: 14px;
    }
    .mr-14 {
      margin-right: 14px;
    }
    .gallery {
      position: relative;
    }
    .gallery__btn {
      position: absolute;
      left: 0;
      background: #e27410;
      border-radius: 4px;
      padding: 30px 10px;
      color: #ffffff;
      text-decoration: none;
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 14px;
      transition: transform 0.2s ease-in-out;
      &:hover {
        background: #f47a0b;
        box-shadow: 0px 12px 30px rgb(68 32 0 / 15%);
        color: #ffffff;
        transform: translate3d(0px, -10px, 0px);
      }
    }
  }
  &__img {
    max-width: 100%;
    border-radius: 4px;
  }
}
.question {
  margin-bottom: 40px;
  position: relative;
  padding: 40px 0;
  background: linear-gradient(
    90deg,
    #014c88 0%,
    #015da0 48.84%,
    #026ab3 103.05%
  );
  &__row {
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .input {
      display: flex;
      flex-direction: column;
    }
    textarea {
      width: 100%;
    }
    .submit {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__btn {
    background: #e27410;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    border: none;
    padding: 14px 80px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 48px;
  }
  &__input {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 9px 16px;
    margin-bottom: 24px;
    width: 100%;
    border: 3px solid transparent;
  }
  &__checkbox {
    background: #e27410;
    border-radius: 4px;
    width: 24px;
    height: 24px;
  }
  &__tel {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      opacity: 0.1;
      height: 0;
      top: 20px;
      width: 3px;
      left: -100px;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 120%;
    color: #e27410;
    text-decoration: none;
  }
  &__description {
    font-size: 14px;
    line-height: 120%;
    color: #ffffff;
  }
  &__number {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #ffffff;
    text-decoration: none;
    img {
      margin-right: 5px;
    }
  }
}
.footer {
  background: #f4f7fb;
  &__wrapper {
    display: flex;
    flex-direction: column;
    span {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img {
        padding-right: 5px;
      }
    }
  }
  &__text {
    display: block;
    font-size: 18px;
    color: #2d3343;
    text-decoration: none;
    margin-bottom: 16px;
    &--small {
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 0;
    }
    &--link {
      &:hover {
        color: #f47a0b;
      }
    }
  }
  &__title {
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #313b59;
    margin-bottom: 48px;
  }
  &__contacts {
    padding: 0 15px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }
  &__map {
    order: -1;
    iframe {
      width: 100%;
      height: 300px;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 44px 0 29px 0;
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      margin-bottom: 15px;
    }
    &-link {
      font-size: 14px;
      line-height: 120%;
      color: #e27410;
      text-decoration: none;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #e27410;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px;
  background: #e27410;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffffff;
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

@import "media";
